@use '../../partials/variables' as *;
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;

.emptyComment {
  padding-top: $padding;
  border-bottom: 2.5px solid $silver-light;
  border-top: 2.5px solid $silver-light;
  padding: $padding 0;
  margin: $margin;
  color: $primary-black;
  text-align: center;

  @include tablet {
    padding: $padding * 1.5 $padding * 2;
    margin: $margin $margin * 2;
  }

}
