@font-face {
  font-family: "Avenir Regular";
  src: url("../../src/assets/fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../../src/assets/fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avenir Demi";
  src: url("../../src/assets/fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}
